#ui {
    position: absolute;
}

@font-face {
    font-family: 'Ken Future';
    src: url('assets/kenney_future_narrow-webfont.woff2');
}

button {
    font-family: 'Ken Future', serif;
    background: -72px -60px url('assets/Button.svg');
    border: none;
    width: 82px;
    height: 33px;
    transform: scale(1.8);
}

button:hover {
    background: -158px -60px url('assets/Button.svg');
}

button:active {
    background: -244px -60px url('assets/Button.svg');
}